.landing-container{
    position: sticky;
    flex-basis: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow:hidden;
}

.welcome-block{
    max-width: 70%;
    min-width: 30vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5%;
}

.welcome-header{
    width: 24vw;
    font-size: 3rem;
    font-family: 'Instrument Serif';
    color: #006970;
    margin: 0.25em 0rem;
    opacity: 0;
    animation: OpacityAnim 2s ease-in 1 0.5s forwards;
}

.welcome-body{
    font-size: 1.5rem;
    font-family: 'Instrument Serif';
    font-weight: light;
    color: #db5b5b;
    white-space: pre;
    line-height: 2rem;
    width: 25%;
    margin: 0;
    opacity: 0;
    animation: OpacityAnim 1s ease-in 1 1.5s forwards;
}

.intro-image {
    overflow: hidden;
    object-position: center center;
    object-fit: cover;
    border-radius: 15px;
    width: 100%;
    height: 100%;
    aspect-ratio: inherit;
}

.image-container {
    display: inline-block;
    margin: 2.5% 2.5%;
    padding: 3px;
    margin-top: 3%;
    border-radius: 15px;
    width: 25%;
    background-color: #574240;
}

.repeating-text{
    position: sticky;
    width: fit-content;
    flex-basis: 100%;
    display: flex;
    flex-direction: column;
    justify-content: left;
    height: 50vh;
}

.welcome-header:hover{
    color: #77A28E;
    position: relative;
    scrollbar-color: rgb(156, 156, 190);
}

@keyframes OpacityAnim {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}